<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSMotionUsageDescription</key>
	<string>Motion is used to make scenes interactive as you tilt and shake the device.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to verify parent access to settings.</string>
</dict>
</plist>
